body{
    margin: 0;
    padding: 0;
    background-color: beige;
}
.contenedor{
    padding: 20px;
    margin: 80px;
    border: 3px solid palegreen;
    background-color: white;
}
.encabezado{
    width: 100%;
    background-color: lightgray;
    padding: 20px 0;
}
.encabezado img{
    display: inline-block;
    width: 200px;
    height: auto;
    padding: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px 80px;
    padding: 0;
}
.menu a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 2px;
    border-radius: 4px 4px 0px 0px;
}
.menu a:hover{
    background-color: blue;
    color: beige;
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    border-top: 4px solid lightgreen;
    font-family: "share tech", sans-serif;
}
.tarjeta{
    box-sizing: border-box;
    width: 49%;
    padding: 0px;
    text-align: right;
}
.tarjeta img{
    width: 200px;
    height: auto;
    float: left;
    margin: 0px 30px 0px 30px;
}
.tarjeta p{
    text-align: left;
    font-size: 20px;
}
.resaltado{
    background-color: yellow;
    font-weight: bold;
}
.tarjeta-html5 h2{
    background-color: orangered;
    color: white;
    padding: 2px;
    text-align: center;
}
.tarjeta-js6 h2{
    background-color: gold;
    color: white;
    padding: 2px;
    text-align: center;
}
.tarjeta-css3 h2{
    background-color: blue;
    color: white;
    padding: 2px;
    text-align: center;
}
.tarjeta-php h2{
    background-color: purple;
    color: white;
    padding: 2px;
    text-align: center;
}
.pie{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    border-top: 4px solid lightgreen;
    margin: 50px 0px 50px 0px;
}
.interno{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}
.pie-contenido{
    font-weight: bold;
    font-size: 20px;
}
.pie p a{
    text-decoration: none;
    color: white;
    background-color: darkturquoise;
}
.diseño{
    color: red;
}
.desarrollo{
    color: green;
}
.web{
    color: blue;
}
.nombre{
    color: white;
    background-color: black;
    font-style: italic;
}
.botones{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 2px 2px;
    background-color: white;
}
.botones button{
    padding: 5px 10px;
}
.botones img{
    width: 30px;
    height: 30px;
}